@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #000000;
	--mainColorLight: #939799;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

#sceneContainer {
	background-color: #000000;
	height: 97vh;
}

.controls { 
	position: absolute;
	z-index: 2;
	bottom: 2%;
	left: 49%;
	right: 49%;
}