#appContainer{
  height: 93.125vh;
}

#canvas{
  background-color: black;
  height: 100%;
  width: 100%;
}

#header{
  position:relative;
  top:0;
  right:0;
  left:0;
  height: 5%;
  background-color: lightgrey;
}

#footer{
  position:relative;
  height: 2.5%;
  left:0;
  bottom:0;
  right:0;
  background-color: lightgray;
  text-align: center;
}
